<footer class="footer">
    <span>© {{ now.Format "2006" }} {{ site.Title }}</span>
    {{ with site.Params.beian }}
    <span style="margin: 0 8px;">·</span>
    <span>
        <a href="{{ site.Params.beianLink | default " https://beian.miit.gov.cn/" }}" rel="noopener noreferrer"
            target="_blank">
            {{ . }}
        </a>
    </span>
    {{ end }}

    <!-- busuanzi -->
    {{ if .Site.Params.busuanzi.enable -}}
    <span id="busuanzi_container_site_pv">
        <i class="fa fa-eye"></i><span id="busuanzi_value_site_pv"></span>
    </span>
    <span id="busuanzi_container_site_uv">
        <i class="fa fa-user"></i><span id="busuanzi_value_site_uv"></span>
    </span>
    {{- end -}}
</footer>